@media screen and (max-width: 1920px){
#pic1{
   height: 955px;
   width: 740px;
}
}
@media screen and (max-width: 1366px){
 #pic1{
    height: 700px;
    width: 560px;
 } 
}

@media screen and (max-width: 1280px){
#pic1{
   height: 900px;
   width: 700px;
}
}

@media screen and (max-width: 800px){
   #pic1{
      width: 600px;
      height: 850px;
   }
}

@media screen and (max-width: 622px){
   #pic1{
      width: 580px;
   }
}

@media screen and (max-width: 602px){
   #pic1{
      width: 560px;
      height: 800px;
   }
}

@media screen and (max-width: 582px){
   #pic1{
       width: 540px;
   }
}

@media screen and (max-width: 560px){
   #pic1{
       width: 520px;
       height: 700px;
   }
}

@media screen and (max-width: 542px){
   #pic1{
       width: 500px;
}
}

@media screen and (max-width: 522px){
   #pic1{
       width: 480px;
       height: 680px;
}
}

@media screen and (max-width: 502px){
   #pic1{
       width: 470px;
   }
}

@media screen and (max-width: 498px){
   #pic1{
       width: 460px;
       height: 670px;
}
}

@media screen and (max-width: 487px){
   #pic1{
       width: 440px;
       height: 660px;
}
}

@media screen and (max-width: 465px){
   #pic1{
       width: 420px;
   }
}

@media screen and (max-width: 440px){
   #pic1{
       width: 400px;
       height: 650px;
   }
}

@media screen and (max-width: 420px){
   #pic1{
       width: 380px;
       height: 630px;
}
}

@media screen and (max-width: 400px){
   #pic1{
       width: 360px;
       height: 610px;
   }
}

@media screen and (max-width: 376px){
   #pic1{
       width: 340px;
       height: 600px;
   }
}

@media Screen and (max-width: 363px){
   #pic1{
       width: 320px;
       height: 550px;
   }
} 

@media screen and (max-width: 341px){
   #pic1{
       width: 300px;
   }
}

@media screen and (max-width: 320px){
   #pic1{
       width: 280px;
       height: 520px;
   }
}

@media screen and (max-width: 301px){
   #pic1{
       width: 260px;
       height: 490px;
   }
}

@media screen and (max-width: 285px){
   #pic1{
       width: 240px;
       height: 470px;
   }
}

@media screen and (max-width: 267px){
   #pic1{
       width: 220px;
       height: 450px;
   }
}

@media screen and (max-width: 241px){
   #pic1{
       width: 200px;
       height: 410px
   }
}

@media screen and (max-width: 226px){
   #pic1{
       width: 180px;
       height: 370px;
   }
}

@media screen and (max-width: 204px){
   #pic1{
       width: 170px;
       height: 350px;
   }
}