
#pic1{
    width: 600px;
    height: 60px;
    position: relative;
    right: 10px;
    
}
#mixed1{
    position: relative;
    top: 20px;
    width: 600px;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
    left: 270px;
}
label{
    font-size: 19px;
    color:rgb(73, 86, 202);
}
textarea{
    width: 342px;
    height: 15px;
}
ui{
    position: relative;
    left: 72px;
}
ce{
    position: relative;
    left: 250px;
}
P{
    position: relative;
    right: 27px;
    text-align: center; 
    font-size: 19px;
    color: rgb(73, 86, 202);
}
li{
    text-align: center; 
    position: relative;
    right: 27px;
    bottom: 30px;
    color: rgb(236, 5, 63);
}
hr{
    position: relative;
    bottom: 100px;
}
#box16{
    position: relative;
    left: 267px;
    top: 10px;
}
.container1{
    position: relative;
    bottom: 20px;
}

#box0{
    position: relative;
    left: 34px;
/* Photo Upload Styling & Preview */

form{
    font-size: 19px;
    position: relative;
    right: 35px;
}
#photo{
    position: relative;
    right: -270px;
    top: 110px;
}
.preview-container {
    position: relative;
    left: 260px;
    bottom: 45px;
}
#preview-img {
    width: 108px;
    height: 120px;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid rgb(73, 86, 202);
    display: flex;
}
}

#box17{
    position: relative;
    left: 35px;
    bottom: 25px;

a{
    font-size: 19px;
    position: relative;
    right: 33px;
}
#button{
    position: relative;
    right: -50px;
    top: 45px;
}
.preview-dabba {
    position: relative;
    left: 260px;
    bottom: 45px;
}
#preview-Photo {
    width: 175px;
    height: 60px;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid rgb(73, 86, 202);
    display: flex;
}
}

#pic2{
    width: 700px;
    height: 1500px;
    positioN: relative;
    left: 1120px;
    bottom: 1550px;
}

@media screen and (max-width: 1237px){
    #mixed1{
        width: px;
    }
}



