@media screen and (max-width: 1680px){
#pic1{
      width: 1200px;
    }
}

@media screen and (max-width: 1600px){
#pic1{
      width: 1100px;
    }
}

@media screen and (max-width: 1366px){
#pic1{
    width: 900px;
  }
}

@media screen and (max-width: 950px){
  #pic1{
    width: 750px;
  }
}

@media screen and (max-width: 800px){
#pic1{
    width: 700px;
  }
}

@media screen and (max-width: 720px){
  #pic1{
    width: 680px;
  }
}

@media screen and (max-width: 705px){
  #pic1{
    width: 660px;
  }
}

@media screen and (max-width: 682px){
  #pic1{
    width: 640px;
  }
}

@media screen and (max-width: 662px){
  #pic1{
    width: 620px;
  }
}

@media screen and (max-width: 643px){
  #pic1{
    width: 600px;
  }
}

@media screen and (max-width: 622px){
  #pic1{
    width: 580px;
  }
}

@media screen and (max-width: 602px){
  #pic1{
      width: 560px;
  }
}

@media screen and (max-width: 582px){
  #pic1{
      width: 540px;
  }
}

@media screen and (max-width: 560px){
  #pic1{
      width: 520px;
  }
}

@media screen and (max-width: 542px){
  #pic1{
      width: 500px;
}
}

@media screen and (max-width: 522px){
  #pic1{
      width: 480px;
}
}

@media screen and (max-width: 502px){
  #pic1{
      width: 470px;
  }
}

@media screen and (max-width: 498px){
  #pic1{
      width: 460px;
}
}

@media screen and (max-width: 487px){
  #pic1{
      width: 440px;
}
}

@media screen and (max-width: 465px){
  #pic1{
      width: 420px;
  }
}

@media screen and (max-width: 440px){
  #pic1{
      width: 400px;
  }
}

@media screen and (max-width: 420px){
  #pic1{
      width: 380px;
}
}

@media screen and (max-width: 400px){
  #pic1{
      width: 360px;
  }
}

@media screen and (max-width: 376px){
  #pic1{
      width: 340px;
  }
}

@media Screen and (max-width: 363px){
  #pic1{
      width: 320px;
  }
} 

@media screen and (max-width: 341px){
  #pic1{
      width: 300px;
  }
}

@media screen and (max-width: 320px){
  #pic1{
      width: 280px;
  }
}

@media screen and (max-width: 301px){
  #pic1{
      width: 260px;
  }
}

@media screen and (max-width: 285px){
  #pic1{
      width: 240px; 
  }
}

@media screen and (max-width: 267px){
  #pic1{
      width: 220px; 
  }
}

@media screen and (max-width: 241px){
  #pic1{
      width: 200px;
  }
}

@media screen and (max-width: 226px){
  #pic1{
      width: 180px;
  }
}

@media screen and (max-width: 204px){
  #pic1{
      width: 170px;
  }
}