@media screen and (max-width: 1920px){
    #pic1, #pic2, #pic3{
        width: 1300px;
        height: 950px;
    }
}

@media screen and (max-width: 1680px){
    #pic1,#pic2, #pic3{
        width: 1250px;
        height: 920px;
    }
}

@media screen and (max-width: 1600px){
    #pic, #pic2, #pic3{
        width: 1000px;
        height: 770px;
    }
}

@media screen and (max-width: 1530px){
    #pic1, #pic2, #pic3{
        height: 735px;
    }
}

@media screen and (max-width: 1400px){
    #pic1, #pic2, #pic3{
        width: 1250px;
        height: 920px;
    }
}

@media screen and (max-width: 1366px){
    #pic1, #pic2, #pic3{
        width: 850px;
        height: 640px;
    }
}

@media screen and (max-width: 1280px){
    #pic1, #pic2, #pic3{
        width: 1150px;
        height: 895px;
    }
}

@media screen and (max-width: 1152px){
    #pic1, #pic2, #pic3{
        width: 950px;
        height: 735px;
    }
}

@media screen and (max-width: 1024px){
    #pic1, #pic2, #pic3{
        width: 870px;
        height: 640px;
    }
}

@media screen and (max-width: 950px){
    #pic1, #pic2, #pic3{
        width: 670px;
        height: 487px;
    }
}

@media screen and (max-width: 800px){
    #pic1, #pic2, #pic3{
        width: 600px;
        height: 473px;
    }
}

@media screen and (max-width: 607px){
    #pic1, #pic2, #pic3{
        width: 580px
    }
}

@media screen and (max-width: 602px){
    #pic1, #pic2, #pic3{
        width: 560px;
    }
    }
    
    @media screen and (max-width: 576px){
        #pic1, #pic2, #pic3{
            width: 540px;
        }
    }
    
    @media screen and (max-width: 556px){
        #pic1, #pic2, #pic3{
            width: 520px;
            height: 430px;
        }
    }
    
    @media screen and (max-width: 536px){
        #pic1, #pic2, #pic3{
            width: 500px;
    }
    }
    
    @media screen and (max-width: 516px){
        #pic1, #pic2, #pic3{
            width: 480px;
            height: 410px;
    }
    }
    
    @media screen and (max-width: 498px){
        #pic1, #pic2, #pic3{
            width: 460px;
            height: 390px;
    }
    }
    
    @media screen and (max-width: 487px){
        #pic1, #pic2, #pic3{
            width: 440px;
            height: 380px;
    }
    }
    
    @media screen and (max-width: 465px){
        #pic1, #pic2, #pic3{
            width: 420px;
        }
    }
    
    @media screen and (max-width: 440px){
        #pic1, #pic2, #pic3{
            width: 400px;
            height: 350px;
        }
    }
    
    @media screen and (max-width: 420px){
        #pic1, #pic2, #pic3{
            width: 380px;
            height: 330px;
    }
    }
    
    @media screen and (max-width: 400px){
        #pic1, #pic2, #pic3{
            width: 360px;
            height: 310px;
        }
    }
    
    @media screen and (max-width: 376px){
        #pic1, #pic2, #pic3{
            width: 340px;
            height: 290px;
        }
    }
    
    @media Screen and (max-width: 363px){
        #pic1, #pic2, #pic3{
            width: 320px;
        }
    } 
    
    @media screen and (max-width: 341px){
        #pic1, #pic2, #pic3{
            width: 300px;
        }
    }
    
    @media screen and (max-width: 320px){
        #pic1, #pic2, #pic3{
            width: 280px;
            height: 270px;
        }
    }
    
    @media screen and (max-width: 301px){
        #pic1, #pic2, #pic3{
            width: 260px;
            height: 250px;
        }
    }
    
    @media screen and (max-width: 285px){
        #pic1, #pic2, #pic3{
            width: 240px;
            height: 230px;
        }
    }
    
    @media screen and (max-width: 267px){
        #pic1, #pic2, #pic3{
            width: 220px;
            height: 220px;
        }
    }
    
    @media screen and (max-width: 241px){
        #pic1, #pic2, #pic3{
            width: 200px;
        }
    }
    
    @media screen and (max-width: 226px){
        #pic1, #pic2, #pic3{
            width: 180px;
            height: 200px;
        }
    }
    
    @media screen and (max-width: 204px){
        #pic1, #pic2, #pic3{
            width: 170px;
        }
    }